<!DOCTYPE html>
<html>
<head>
    <title>Job Match AI</title>

    <!-- SAME CSS FILE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1> USH Job Match AI </h1>
    <p>Upload Resume (PDF)</p>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="resume" required><br>
        <button type="submit">Analyze</button>
    </form>
</div>

</body>
</html>